/* General settings */

body {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  color: #2d3c49;
}


/* Header */

header {
  border-bottom: 3px solid #7d97ad;
  text-transform: uppercase;
  padding: 0 0 10px;
  margin: 0;
}

header h1 {
  font-size: 60px;
  color: #666;
  text-align: right;
}

header h1 p {
  margin: 0;
  padding: 0;
}

header h1 span {
  display: block;
  font-size: 22px;
}

header .logo {
  width: 100px;
  height: 90px;
  margin-top: 30px;
}


/* Work section */

.work h2 {
  font-size: 35px;
  color: #7d97ad;
  font-weight: bold;
  padding-left: 20px;
}

.work h3 {
  text-transform: uppercase;
  color: #2d3c49;
  font-size: 37px;
  font-weight: bold;
  text-align: center;
  margin: 10px auto 5px auto;
}

.work p {
  font-size: 16px;
  text-align: center;
}

.work img {
  width: 100%;
}


/* Main project */

.main-project {
  margin: 40px 0;
  padding: 0;
}

.main-project img {
  width: 100%;
}

.main-project .col {
  margin: 0;
  padding: 0;
}


/* Media querys */

@media screen and (max-width: 767px) {
  header h1 {
    font-size: 50px;
    margin-top: 25px;
  }
  header .logo {
    width: 75px;
    height: 67px;
  }
}

@media screen and (max-width: 450px) {
  header h1 {
    font-size: 40px;
  }
  header h1 span {
    font-size: 18px;
  }
  header .logo {
    width: 50px;
    height: 45px;
  }
}

@media screen and (max-width: 400px) {
  header h1 {
    font-size: 30px;
  }
}
