body{
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  color: #2d3c49;
}

header {
  display: flex;
  border-bottom: 3px solid #7d97ad;
  text-transform: uppercase;
  padding-bottom: 10px;

}

header h1 {
  font-size: 60px;
  color: #666;
  margin-bottom: 1px;
}

.work h2 {
  font-size: 35px;
  color: #7d97ad;
  font-weight: bold;
  padding-left: 20px;
}

.work h3 {
  text-transform: uppercase;
  color: #2d3c49;
  font-size: 37px;
  font-weight: bold;
  text-align: center;
  margin: 10px auto 5px auto;
}

.work p {
  font-size: 16px;
  text-align: center;
}

.logo {
  width: 102px;
  height: 90px;
  margin-top: 30px;
}

hgroup{
  text-align: right;
  width: 100%;
}

section {
  //width: 100%;
}

.main-project{
  margin: 40px 0px;
  padding: 0;
}


.main-project img {
  width: 100%;
}

.work img{
  width: 100%;
}


.colors {
  margin-top: 145px;
}

.colors ul {
  list-style-type: none;

  padding: 0px;


}


.colors li {
  margin-bottom: 25px;
}

.colors div {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  padding-left: 20px;
}

.color1 {
  background-color: #02b3e4;
}

.color2 {
  background-color: #2d3c49;
}

.color3 {
  background-color: #7d97ad;
}

.colors p {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
}



@media screen and (max-width: 991px) {
  .colors {
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  header h1 {
    font-size: 45px;
  }
  header p {
    font-size: 15px;
  }

  .logo {
    width: 66px;
    height: 60px;
  }
}

@media screen and (max-width: 350px) {
  header h1 {
    font-size: 30px;
  }

  .logo {
    width: 50px;
    height: 45px;
  }
}
